.container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 16px;
}

.section {
    position: relative;
    background-color: rgb(229 229 229 / 67%);
    border-radius: 16px;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.section h2 {
    font-size: 3rem;
}

.virus_3 {
    position: absolute;
    bottom: -150px;
    right: -100px;
}

.virus_4 {
    position: absolute;
    top: -75px;
    left: -50px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 40%;
}

.left {
    align-self: flex-end;
}

.text p {
    font-size: 1.25rem;
}